.profile-header {
  margin-bottom: 20px;
  .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--ion-color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  margin-left: 16px;
  margin-top: 5px;
}